node_modules
.git
.github
.husky
.vscode
docs
packages/*/node_modules
packages/integration-tests
packages/mattermost-plugin
dev
*.md
*.log
.env*
!.env.simple
docker
scripts
static
test-results
*.sqlite
